.ChatBox-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.chat-header {
  display: flex;
  align-items: center;
  padding: 23px 20px;
  background-color: #292b5089;
  border-bottom: 1px solid #333;
  color: #f0f0f0;
}

.image-container {
  position: relative;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #7c78eb;
}

.followerImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.online-dot {
  position: absolute;
  bottom: 0;
  right: 0; 
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #292B50;
}

.online-dot.online {
  background-color: #00ff00; 
}

.online-dot.offline {
  background-color: #ff0000; 
}

.chat-header-in {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.chat-header .name {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.chat-header .name :nth-child(1) {
  color: #f0f0f0;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.5px;
}

.chat-body {
  flex-grow: 1;
  padding: 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #4b4b4b39;
}

.message {
  font-size: 16px;
  background: #3b3b3b;
  color: #f0f0f0;
  padding: 0.8rem;
  border-radius: 1rem;
  max-width: 26rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  word-wrap: break-word;
  letter-spacing: 0.5px;
}

/* Received messages */
.message:not(.own) {
  align-self: flex-start;
  background: #3b3b3b;
  color: #f0f0f0;
  border-radius: 1rem 1rem 1rem 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}


.message.own {
  align-self: flex-end;
  color: #ffffff;
  background: #292929;
  border-radius: 1rem 1rem 0 1rem;
  background: #7c78ebb2;
}

.message span:last-child {
  font-size: 12px;
  color: #a0a0a0;
  margin-top: 5px;
  display: block;
  text-align: right;
}

.message.own span:last-child {
  color: #e0e0e0;
}

.chat-sender {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #292b50;
  border-top: 1px solid #333;
}

.chat-sender button {
  background: none;
  cursor: pointer;
  border: none;
  color: #7c78eb;
  font-size: 20px;
  transition: transform 0.2s ease, color 0.2s ease, filter 0.2s ease; /* Added filter transition */
}

.chat-sender button:hover {
  transform: scale(1.1); /* Slightly increase the size on hover */
  color: #4d92ff; /* Change color on hover */
  filter: brightness(1.3); /* Increase brightness on hover */
}

.chat-sender input {
  flex-grow: 1;
  background: #3b3b3b;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  outline: none;
  max-height: 40px;
}