
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
footer {
  background-color: #1f2e3d;
  padding: 15px;
  text-align: center;
  color: #bdc3c7;
}

footer a {
  color: #bdc3c7;
  text-decoration: none;
}

footer a:hover {
  color: #fff;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.toast-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.toast-message {
  background-color: #4c9a9b;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
