* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.log {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  overflow: hidden;
  background-color: transparent;
  width: 100vw;
}

.login-container {
  width: 100%;
  max-width: 400px;
  background: rgba(124, 120, 235, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 40px 30px;
  text-align: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.login-title {
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
}
.login-title :nth-child(1) {
  color: #7c78eb;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: flex;
  align-items: center;
  color: #7c78eb;
  margin-bottom: 8px;
  gap: 5px;
}
.icon-t {
  margin-top: 7px;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 550;
}
.form-group label .icon {
  font-size: 24px;
}

.login-input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 25px;
  outline: none;
  background: rgba(124, 120, 235, 0.2);
  color: white;
  font-size: 1rem;
  transition: all 0.3s ease;
  border: 1px solid #7c78eb8e;
  transition: box-shadow 0.3s ease-in-out;
  letter-spacing: 0.5px;
}

.login-input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.login-input:focus {
  background: rgba(124, 120, 235, 0.3);
  border: 1px solid #7c78eb;
}

.login-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  color: white;
  background: #7c78eb;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
  padding: 0.5em 1em;
  font-size: 20px;
  font-weight: 550;
  letter-spacing: 0.5px;
}

.login-button::before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: linear-gradient(
    135deg,
    rgba(33, 33, 33, 0.741) 0%,
    rgba(33, 33, 33, 0.671) 50%,
    rgba(150, 4, 31, 1) 50%,
    rgba(191, 4, 38, 1) 60%
  );
  border-radius: 0 0 0.5em 0;
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.login-button:hover::before {
  width: 1.6em;
  height: 1.6em;
}

.login-button:active {
  box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
  transform: translate(0.1em, 0.1em);
}

.login-button:hover {
  background: #605dd3; 
}

.login-button:disabled {
  background-color: rgba(
    124,
    120,
    235,
    0.5
  );
  cursor: not-allowed;
}


.error-msg {
  color: rgb(255, 0, 0);
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}


.login-form a {
  color: #7c78eb;
  text-decoration: none;
  font-size: 0.9rem;
  margin-top: 10px;
  display: inline-block;
}

.login-form a:hover {
  text-decoration: underline;
}
.reg {
  margin-top: 20px;
}
.reg :nth-child(1) {
  color: whitesmoke;
}
.reg :nth-child(2) {
  font-size: 17px;
}
@media (max-width: 768px) {
  .login-container {
    width: 300px;
    padding:20px 15px;
  }

  .login-title {
    font-size: 1.8rem;
  }

  .login-input {
    font-size: 0.9rem;
    padding: 8px;
  }

  .login-button {
    font-size: 0.9rem;
    padding: 8px;
  }

  .form-group label {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .login-container {
    width: 400px;
    padding: 20px 15px;
  }

  .login-title {
    font-size: 2rem;
   
  }
  .login-input {
    padding: 8px;
    outline: none;
    background: rgba(124, 120, 235, 0.2);
    color: white;
    font-size: 1rem;
    transition: all 0.3s ease;
    border: 1px solid #7c78eb8e;
    transition: box-shadow 0.3s ease-in-out;
    letter-spacing: 0.5px;
  }
  .login-button {
    width: 100%;
    padding: 8px;
    font-size: 20px;
    font-weight: 550;
    letter-spacing: 0.5px;
  }
}
