.editor-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 4.5rem);
}

.upper-tool-bar {
  background: #ffffff00;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.4rem;
  padding: 0.8rem 0.4rem;
  border: 2px solid #7c78eb49;
  margin-top: 2px;

  /* background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 2.3rem;
  font-size: 1.3rem;
  color: #7c78eb;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title .h-d {
  font-size: 21px;
  letter-spacing: 1px;
  color: linear-gradient(
    135deg,
    rgba(245, 245, 245, 0.249) 25%,
    #7c78eb97 50%,
    rgb(245, 245, 245) 75%
  );
}

.title.small {
  margin-right: 1rem;
}

.select-bars {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.select-bars > div {
  width: 8rem;
}

.select-bars > div:last-child {
  width: 10rem;
}

.header .button {
  display: inline-block;
  transition: all 0.2s ease-in;
  overflow: hidden;
  z-index: 1;
  color: whitesmoke;
  cursor: pointer;
  border-radius: 2em;
  background: transparent;
  border: 1px solid #7c78eb;
  font-size: 18px;
  letter-spacing: 1px;
  width: 8rem;
  padding-top: 8px;
  padding-bottom: 8px;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.header .button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}
.header .button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.header .button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #7c78eb;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.header .button:hover {
  color: #ffffff;
  border: 1px solid #7c78eb;
}
.header .button:hover:before {
  top: -35%;
  background-color: #7c78eb;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.header .button:hover:after {
  top: -45%;
  background-color: #7c78eb;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.code-editor-container-main {
  height: 70.02vh;
  overflow: auto;
}
.code-editor-container {
  height: 100%;
}

.code-editor-container > div {
  height: 100%;
}

.lower-tool-bar {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.8rem;
  padding: 0.8rem 1rem;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  /* border: 2px solid #7c78eb49; */
}

.lower-tool-bar input {
  display: none;
}

.lower-tool-bar label,
.lower-tool-bar a {
  color: whitesmoke;
  font-size: 1.2rem;
  border: 2px solid #7c78eb;
  padding: 5px;
  border-radius: 18px;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.save-and-run-button {
  display: inline-block;
  transition: all 0.2s ease-in;
  overflow: hidden;
  z-index: 1;
  color: whitesmoke;
  cursor: pointer;
  border-radius: 2em;
  background: transparent;
  border: 1px solid #7c78eb;
  font-size: 18px;
  letter-spacing: 1px;
  width: 8rem;
  height: 2.5rem;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.code-editor-container-main {
  height: 70.08vh;
  overflow: auto;
}
.code-editor-container {
  height: 100%;
}
