.navbar-container {
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: height 0.3s ease;

  /* border: 2px solid #7c78eb49;  */
  background: rgba(255, 255, 255, 0); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
}

.navbar-container.fullscreen {
  height: 0;
}

.navbar-content {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
}

.main-heading {
  font-size: 2rem;
  font-weight: 400;
  color: #7C78EB;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.main-heading :nth-child(1) {
  font-weight: 700;
  margin-left: 0.5rem;
  color: whitesmoke;
}
