.post {
  background-color: #333;
  padding: 20px;
  border-radius: 12px;
  margin: 20px auto;
  color: #fff;
  max-width: 500px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  position: relative; /* Added position relative to isolate child button hover effects */
}

.post-header div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.post-header button {
  background-color: transparent;
  border: none;
  position: relative; /* To isolate hover effect */
  z-index: 1; /* Ensure the button is above other elements */
}

.post-header img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #7C78EB;
  transition: transform 0.3s ease; /* Smooth transition */
}

.post-header button:hover ~ .post-header img {
  transform: scale(1.05); /* Prevent image hover when button is hovered */
}

.post-content {
  margin-bottom: 20px;
}

.post-image {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  max-height: 230px;
}

.post-video {
  width: 100%;
  border-radius: 8px;
  max-height: 230px;
  object-fit: cover;
}

.post-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.like-btn,
.comment-btn {
  border: none;
  background: none;
  cursor: pointer;
  color: #aaa;
  font-size: 1.2em;
}

.like-btn {
  display: flex;
  align-items: center;
  gap: 5px;
}

.comment-btn {
  display: flex;
  align-items: center;
  gap: 5px;
}

.comments-section {
  margin-top: 20px;
  background-color: #444;
  padding: 10px;
  border-radius: 12px;
}

.comment {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.comment-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.comment-content {
  color: #fff;
}

.comment-input {
  width: 100%;
  padding: 8px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #555;
  color: #fff;
}

.add-comment-btn {
  background-color: #7C78EB;
  padding: 8px 15px;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.options-menu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  z-index: 5;
  pointer-events: auto;
}

.option-btn {
  color: white;
  background-color: transparent;
  border: none;
  padding: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  z-index: 6;
}

.option-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
