.home-container {
  display: flex;
  height: 95vh;
  font-family: "Roboto", sans-serif;
  border-radius: 18px;
  box-shadow: 0 4px 20px rgba(166, 154, 255, 0.3);
  border: 2px solid #7c78eb66;
  flex: 1;
  width: 70vw;
}
.sep{
    height: 100%;
    width: 2px;
    background-color:#7c78eb66;
    box-shadow: 0 4px 12px rgba(166, 154, 255, 0.3);
}

@media (max-width: 768px) {
  .home-container {
     height: 80vh;
    overflow: hidden;
    width: 100vw;
  }
}