.left-container {
  flex: 1;
  background-color: #20232a00;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
}

.left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.left-logo {
  width: 22rem;
  margin-bottom: 20px;
}
.left-subtitle {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 30px;
  letter-spacing: 1px;
  font-weight: 550;
}
.left-subtitle :nth-child(1),
.left-subtitle :nth-child(3) {
  color: #7c78eb;
}

.left-create-button {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #ffffff;
  cursor: pointer;
  border-radius: 2em;
  background: transparent;
  border: 1px solid #7c78eb;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 10px 20px;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.left-create-button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}
.left-create-button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.left-create-button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #7c78eb;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.left-create-button:hover {
  color: #ffffff;
  border: 1px solid #7c78eb;
}
.left-create-button:hover:before {
  top: -35%;
  background-color: #7c78eb;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.left-create-button:hover:after {
  top: -45%;
  background-color: #7c78eb;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
