.right-container {
  flex: 2;
  padding: 20px;
  background-color: #20232a00;
  color: #ffffff;
  border-radius: 18px;
}

.right-header {
  display: flex;
  justify-content: space-between;
  align-items:end;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
}

.right-title {
  font-size: 1.5rem;
  color: #7c78eb;
  font-weight: 550;
  letter-spacing: 1px;
}

.right-title span {
  font-weight: bold;
}
.right-title :nth-child(1){
  color: rgba(255, 255, 255, 0.631);
}

.right-add-folder-button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  border: none;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: white;
  /* box-shadow: 0 0 0 2px #ffffff20; */
  border-radius: 28px;
  border: 2px solid #7c78eb66;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.right-add-folder-button span {
  position: relative;
  z-index: 1;
}

.right-add-folder-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color:  #7C78EB;;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
  z-index: 0;
}

.right-add-folder-button:hover {
  box-shadow: 0px 0px 8px rgba(166, 154, 255, 0.3), 4px 0 18px rgba(0, 0, 0, 0);
  color:white;
}

.right-add-folder-button:active {
  scale: 0.95;
}

.right-add-folder-button:hover::before {
  width: 150px;
  height: 150px;
  opacity: 1;
}


.folder-cont-main {
  height: 550px;
  overflow-y: auto;
}

.folder-container {
  margin-bottom: 20px;
}

.folder-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.folder-title {
  font-size: 1.2rem;
  display: flex;
  align-items:end;
  letter-spacing: 1px;
}

.folder-actions {
  display: flex;
  gap: 10px;
}

.folder-create-button {
  background-color:transparent;
  color:whitesmoke;
  border: none;
  padding: 5px;
  border: 1px solid #7C78EB;
  border-radius: 24px;
  cursor: pointer;
}

.playground-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.playground-item {
  display: flex;
  justify-content: space-between;
  background-color: #333740;
  border-radius: 5px;
  padding: 10px;
  width: calc(50% - 10px);
  cursor: pointer;
  transition: background-color 0.3s;
}

.playground-item:hover {
  background-color: #444b54;
}

.playground-content {
  display: flex;
  align-items: center;
}

.playground-logo {
  width: 40px;
  margin-right: 10px;
}

.playground-actions {
  display: flex;
  gap: 5px;
}
