.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #242424;
  color: #ffffff;
}

.navbar-logo a {
  color: #25b2e9;
  font-size: 1.5rem;
  text-decoration: none;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navbar-links li a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-links li a:hover {
  color: #25b2e9;
}

.navbar-links .active a {
  color: #25b2e9;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }
}
