.group-chat-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  background-color: #4b4b4b39;
}

.gb-chat-header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #292b50;
  border-bottom: 1px solid #333;
  color: #f0f0f0;
  gap: 15px;
}

.gb-chat-header img {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #7c78eb;
}

.gb-chat-header .name {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 550;
  letter-spacing: 1px;
}

.gb-chat-header .name p {
  color: #f0f0f0;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.5px;
}

.gb-messages {
  flex-grow: 1;
  padding: 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.gb-message {
  font-size: 16px;
  background: #4e4e4e;
  color: #f0f0f0;
  padding: 12px;
  border-radius: 12px;
  max-width: 70%;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  gap: 5px;
  letter-spacing: 0.5px;
}

.gb-message.own {
  background: #7c78ebb2;
  color: #ffffff;
  align-self: flex-end;
  border-radius: 12px 12px 0 12px;
}

.gb-message:not(.own) {
  background: #4e4e4e;
  align-self: flex-start;
  border-radius: 12px 12px 12px 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.gb-message p {
  /* margin: 0; */
}

.message-info {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #a0a0a0;
  margin-top: 5px;
}

.message-sender {
  font-weight: bold;
}

.message-time {
  color: #888;
  text-align: right;
}
.gb-message-input{
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #292b50;
  border-top: 1px solid #333;
}
.gb-message-input button{
  background: none;
  cursor: pointer;
  border: none;
  color: #7c78eb;
  font-size: 24px;
  transition: transform 0.2s ease, color 0.2s ease, filter 0.2s ease;
}
.gb-message-input button:hover {
  transform: scale(1.1);
  filter: brightness(1.3); 
}

.gb-message-input input {
  flex-grow: 1;
  background:transparent;
  border: 2px solid white;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 10px;
  font-size: 17px;
  letter-spacing: 0.5px;
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
